@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-soft: #f3f3f3;
}

.content {
  background-color: var(--primary-soft);
  overflow: scroll;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset;
}

.header {
  position: sticky;
  top: 0.2rem;
  z-index: 2000;
}

.sidebar {
}

/* .open {
  position: fixed;
  width: 300px;
  z-index: 2001;
  background-color: wheat;
  display: block !important;
} */

.side-bar-btn {
  cursor: pointer;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.search-input {
  max-width: 190px;
}

.status-card {
  border: none;
  transition: 0.3s;
}

.status-card:hover {
  transform: translateY(-5px);
}

.status-card:active {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 992px) {
  .sidebar {
    position: fixed;
    width: 300px;
    z-index: 2001;
    background-color: wheat;
    margin-left: -100%;
  }
}
