@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #0d6efd;
  --primary-soft: #f3f3f3;
  --dark: rgb(43, 43, 43);
  --soft-dark: rgb(207, 207, 207);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.content {
  background-color: var(--primary-soft);
  overflow: scroll;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset;
}

.header {
  position: sticky;
  top: 0.2rem;
  z-index: 2000;
}

.sidebar {
  overflow: scroll;
}

/* .open {
  position: fixed;
  width: 300px;
  z-index: 2001;
  background-color: wheat;
  display: block !important;
} */

.side-bar-btn {
  cursor: pointer;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.search-input {
  max-width: 190px;
}

.status-card {
  border: none;
  transition: 0.3s;
}

.status-card:hover {
  transform: translateY(-5px);
}

.status-card:active {
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.ov-avatar {
  margin-left: -25px;
  width: 50px;
}

.item-carousel {
  margin-top: -140px;
}

.item-img-carousel {
  transition-duration: 0.2s;
  transition-delay: 0.1s;
}

.item-img-carousel:hover {
  transform: translateY(-5px);
}

.carousel-indicators {
  bottom: -32px;
}

.carousel-indicators button {
  background-color: #007bff;
}

.sub-list tr {
  transition: 0.3s;
  cursor: pointer;
}

.sub-list tr:active {
  transform: scale(1.02);
}

.header {
  top: 0 !important;
}

.head-container {
  padding-top: 20px;
  background-color: #f3f3f3;
}

.fullscreen-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2005;
}

.pagination li {
  padding: 0 !important;
}

.page-item:not(:first-child) .page-link {
  margin-left: 0 !important;
}

div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
}

.form-select-sm {
  width: 80px !important;

  font-size: 0.875rem;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}

.page-link:focus-visible {
  outline: none;
}

.pagination {
  justify-content: flex-end;
}

.dataTables_filter {
  display: flex;
  justify-content: flex-end;
}

.breadcrumb-item a {
  text-decoration: none;
}

.nav-menu {
}

.menu-title {
  padding: 10px 0;
  color: var(--soft-dark);
}

.menu-item {
  margin-bottom: 1px;
}

.menu-item:hover {
  background-color: var(--soft-dark);
  border-radius: 0.25rem;
}

.menu-item-link {
  border-radius: 0.25rem;
  padding: 10px;
  text-decoration: none;
  color: var(--dark);
  display: flex;
  justify-content: space-between;
}

.menu-item-link:hover {
  color: var(--dark);
}

.menu-item-link i {
}
.menu-item-link span {
}

.menu-spacer {
  padding: 5px 0;
}

.active-tab {
  background-color: var(--primary);
  color: white !important;
}
.active-tab:hover {
  background-color: var(--primary);
}

.nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 992px) {
  .sidebar {
    position: fixed;
    width: 300px;
    z-index: 2001;
    background-color: wheat;
    margin-left: -100%;
  }
}

@media screen and (max-width: 1199px) {
  .item-carousel {
    margin-top: -65px;
  }
}

@media screen and (max-width: 480px) {
  .item-card {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .ov-avatar {
    width: 40px;
  }
  #ov {
    margin-top: 10px;
  }
  .sub-list-table {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.3rem;
  }
  .sub-list-table .sub-list-title {
    padding-top: 1rem;
  }
  .head-container {
    padding-top: 0px;
    background-color: #f3f3f3;
  }
}
